/*
Colors used:
Primary color (periwinkle): #6399c2, #5b93bf
White: #ffffff
Black: #221d23
*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #221d23;
}

header {
  padding: 0.625em;
  background-color: white;
  position: relative;
  border: solid #bdbdbd 0;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #f5f5f5;
  width: 100vw;
  padding: 0.625em;
  text-align: center;
}

iframe {
  width: 100%;
  max-height: 150px;
}

img {
  width: 100%;
  height: 100%;
}

.logo-img {
  width: 100px;
  max-width: 150px;
}

.menu-img {
  width: 30px;
  max-width: 30px;
}

.social-img {
  width: 45px;
}

.social-img:hover {
  transform: translateY(-10px);
}

.brand-logo {
  width: 60px;
  display: block;
  margin: 10px auto;
}

.survey-graph {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  color: #5b93bf;
}

h2 {
  font-size: 1.75em;
  font-weight: 600;
  color: #221d23;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
  color: #221d23;
}

h4 {
  font-family: 'Nunito Sans';
  font-size: 1.15em;
  font-weight: 600;
  color: #221d23;
  margin-top: 0;
}

h5 {
  font-family: 'Nunito Sans';
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1;
  color: #221d23;
  padding-top: 15px;
}

h6 {
  font-family: 'Nunito Sans';
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  color: #221d23;
}

.poppins-one {
  font-family: 'Nunito Sans';
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1;
  color: #221d23;
}

.poppins-two {
  font-family: 'Nunito Sans';
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1;
  color: #221d23;
}

p {
  font-family: 'Nunito Sans';
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
}

.center {
  text-align: center;
  margin: 0 20px;
}

a {
  font-family: 'Nunito Sans';
  color: #5b93bf;
  transition: 0.2s opacity;
}

a:hover {
  font-family: 'Nunito Sans';
  color: #65488b;
  text-decoration: underline;
}

a:visited {
  font-family: 'Nunito Sans';
  color: #5b93bf;
}

a:active {
  font-family: 'Nunito Sans';
  color: #65488b;
}

a:focus {
  color: #65488b;
  text-decoration: underline;
}

.button {
  color: #5b93bf;
  font-family: 'Nunito Sans';
  font-weight: 600;
  font-size: 1.125em;
  text-decoration: none;
  transition: 0.2s opacity;
  display: inline-block;
}

.button:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.button.contact {
  display: inline-block;
  background-color: transparent;
  color: #5b93bf;
  font-family: 'Nunito Sans';
  font-weight: 600;
  font-size: 1.125em;
  text-decoration: none;
  border: 2px solid #5b93bf;
  padding: 0.5em 1em;
  margin: 1em;
  transition: 0.2s opacity;
}

.button.contact:hover {
  display: inline-block;
  background-color: #5b93bf;
  color: white;
  opacity: 100%;
}

.button.link {
  display: inline-block;
  background-color: transparent;
  color: #5b93bf;
  font-family: 'Nunito Sans';
  font-size: 1.125em;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #5b93bf;
  padding: 0.5em 1em;
  transition: 0.2s opacity;
}

.button.link:hover {
  display: inline-block;
  background-color: #5b93bf;
  color: white;
  opacity: 100%;
}

.button.explore {
  display: inline-block;
  background-color: transparent;
  color: #0063b2;
  font-family: 'Nunito Sans';
  font-size: 1.125em;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #0063b2;
  padding: 0.5em 1em;
  transition: 0.2s opacity;
}

.button.explore:hover {
  display: inline-block;
  background-color: #0063b2;
  color: white;
  opacity: 100%;
}

.fab-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

.iconbutton {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #5b93bf;
  box-shadow: 1px 2px 5px #aaa;
}

.fabbutton {
  width: 60px;
  height: 60px;
  background: #5b93bf;
}

.iconbutton i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}

.comingsoon {
  font-family: 'Nunito Sans';
  font-weight: 600;
  font-size: 1.125em;
  text-decoration: none;
  display: inline-block;
  color: #5b93bf;
  margin: 0;
}

/* layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

#index {
  max-width: 1200px;
  margin: auto;
}

#work {
  max-width: 1200px;
  margin: auto;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#project hr {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#project h1 {
  color: #0063b2;
  text-align: center;
  margin-top: 50px;
}

#project h2 {
  margin: 20px 0 10px;
  color: white;
}

#project h3 {
  margin-top: 25px;
}

#project h5 {
  margin-top: 0;
  margin-bottom: 10px;
}

#project ul {
  margin-top: 0.25em;
  margin-bottom: 10px;
  font-family: 'Nunito Sans';
}

#project p {
  margin-top: 0.25em;
}

.project-container-large {
  margin: 100px auto 50px;
  padding: 10px 0;
  text-align: center;
  color: white;
  background-color: #0063b2;
}

.project-container-small {
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.5em;
  text-align: center;
  color: #0063b2;
}

.project-container-body {
  max-width: 675px;
  margin: 5.5px auto 22px;
  text-align: center;
}

#about {
  max-width: 1200px;
  margin: auto;
}

#about img {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
  text-align: left;
}

#animation {
  width: 100%;
  height: auto;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #5b93bf;
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: #422f5b;
  text-decoration: none;
}

nav > ul > li > a:active {
  color: #5b93bf;
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 50px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px;
  border-top-color: #5b93bf;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.space-evenly > div {
  padding: 5px;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
  width: 225px;
  margin: auto;
  padding: 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .container {
    max-width: 725px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 25px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  body {
    font-size: 18px;
  }

  #hero span {
    display: block;
  }

  .col-md-8 {
    width: 70%;
  }

  .col-md-7 {
    width: 60%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 40%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-3 {
    width: 30%;
    padding: 0;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  #index h3 {
    margin-top: 0;
  }

  #about h1 {
    text-align: left;
    padding-left: 75px;
    padding-right: 75px;
  }

  #about h2 {
    margin-top: 20px;
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
  }

  #about h3 {
    margin-top: 0;
    padding-left: 75px;
    padding-right: 75px;
  }

  #about p {
    padding-left: 75px;
    padding-right: 75px;
  }

  #about a {
    padding-left: 75px;
    padding-right: 75px;
  }

  #about ul {
    padding-left: 75px;
    padding-right: 75px;
  }

  iframe {
    max-height: 250px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 22px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-8 {
    width: 70%;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 40%;
  }

  #about img {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 30px;
    width: 100%;
  }

  iframe {
    max-height: 500px;
  }
}

@keyframes item-move {
  from { transform: translate(0, 15px); }
  to { transform: translate(0, 0); }
}

.item-move {
  animation-duration: 5s;
  animation-name: item-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes checklist-move {
  from { transform: translate(-15px, 0); }
  to { transform: translate(0, 0); }
}

.checklist-move {
  animation-duration: 3s;
  animation-name: checklist-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
